.button {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 20 / 14 * 1;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 11px;
  width: 100%;
  --basic-l: 100%;
  --basic: hsl(var(--basic-h) var(--basic-s) var(--basic-l) / var(--basic-o));
  color: var(--basic);
  --bg-basic: hsl(var(--bg-basic-h) var(--bg-basic-s) var(--bg-basic-l) / var(--bg-basic-o));
  background-color: var(--bg-basic);
  border: none;
  text-align: center;

  &--accent {
    --basic-l: 27%;
    --bg-basic-s: 0%;
    --bg-basic-l: 95%;
  }

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 1;
    width: auto;
    min-width: 244px;
    padding: 17px;
  }
}
