.contacts__title {
  font-family: var(--accent-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 18 / 16 * 1;
  text-transform: uppercase;
  margin: 0;
  --basic-l: 7%;
  --basic: hsl(var(--basic-h) var(--basic-s) var(--basic-l) / var(--basic-o));
  color: var(--basic);
}

.contacts__info {
  display: grid;
  grid-template-columns: 140px 140px;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 28px;
}

.contacts__info--accent {
  --bg-basic-h: 0deg;
  --bg-basic-s: 0%;
  --bg-basic-l: 95%;
  --bg-basic: hsl(var(--bg-basic-h) var(--bg-basic-s) var(--bg-basic-l) / var(--bg-basic-o));
  background-color: var(--bg-basic);
}

.contacts__address {
  margin: 0;
}

.contacts iframe {
  vertical-align: middle;
}
