.cross-title {
  display: inline-block;
  position: relative;

  &::before,
  &::after {
    --bg-basic-h: 97deg;
    --bg-basic-s: 53%;
    --bg-basic-l: 47%;
    --bg-basic-0: 1;
    --bg-basic: hsl(var(--bg-basic-h) var(--bg-basic-s) var(--bg-basic-l) / var(--bg-basic-o));
    background-color: var(--bg-basic);
    content: "";
    position: absolute;
    top: 13px;
    height: 2px;
    width: 100vw;

    @media (min-width: 768px) {
      top: 18px;
    }
  }

  &::before {
    right: 100%;
  }

  &::after {
    left: 100%;
  }
}
