.cross-title {
  vertical-align: middle;
  padding: 0;
  display: inline-block;
  width: 100%;
  position: relative;
  box-sizing: border-box;

  &::after {
    --bg-basic: hsl(var(--bg-basic-h) var(--bg-basic-s) var(--bg-basic-l) / var(--bg-basic-o));
    content: "";
    position: absolute;
    z-index: -1;
    top: 13px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--bg-basic);
  }
}

.cross-title__text {
  --bg-basic-l: 100%;
  --bg-basic: hsl(var(--bg-basic-h) var(--bg-basic-s) var(--bg-basic-l) / var(--bg-basic-o));
  font-family: var(--accent-font);
  font-size: 24px;
  font-weight: 400;
  line-height: 26 / 24 * 1;
  display: inline-block;
  vertical-align: baseline;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--bg-basic);
}
