.feedback__title {
  --basic-l: 0%;
  --basic: hsl(var(--basic-h) var(--basic-s) var(--basic-l) / var(--basic-o));
  color: var(--basic);
  margin-bottom: 38px;
}

.feedback__text {
  --basic-l: 0%;
  --basic: hsl(var(--basic-h) var(--basic-s) var(--basic-l) / var(--basic-o));
  color: var(--basic);
  font-family: var(--accent-font);
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 1.5;
  }
}
