.main-nav {
  width: 100%;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: var(--accent-font);
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
}

.main-nav__item {
  --basic-l: 90%;
  --basic: hsl(var(--basic-h) var(--basic-s) var(--basic-l) / var(--basic-o));
  margin: 0 -20px;
  padding-top: 22px;
  padding-bottom: 24px;
  border-top: 1px solid var(--basic);
}

.main-nav__link {
  --basic-l: 0%;
  --basic: hsl(var(--basic-h) var(--basic-s) var(--basic-l) / var(--basic-o));
  color: var(--basic);
}
