.page__body {
  --basic-l: 27%;
  --basic: hsl(var(--basic-h) var(--basic-s) var(--basic-l) / var(--basic-o));
  margin: 0;
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 18 / 14 * 1;
  font-weight: 400;
  color: var(--basic);
  background-color: hsl(0, 0, 100%);
}

.page__container {
  padding-left: 20px;
  padding-right: 20px;
}

.page__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page__a11y-hidden {
  position: fixed;
  transform: scale(0);
}
