.page__body {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18 / 14 * 1;
  font-weight: 400;
  --basic-l: 27%;
  --basic: hsl(var(--basic-h) var(--basic-s) var(--basic-l) / var(--basic-o));
  color: var(--basic);
}

.page__container {
  padding: 0 20px;
}
